@function edge-fade-gradient($feather, $far-stop) {                                                                                   
  @return linear-gradient(
    to right,
    transparent,
    black $feather,
    black $far-stop,
    transparent
  ),
  linear-gradient(
    to bottom,
    transparent,
    black $feather,
    black $far-stop,
    transparent
  );                                                                                                                                        
}    

@mixin edge-fade-mask($feather: $feather, $far-stop: calc(100% - #{$feather})) {
  mask-image: #{edge-fade-gradient($feather, $far-stop)};
  mask-composite: intersect;
  -webkit-mask-image: #{edge-fade-gradient($feather, $far-stop)};
  -webkit-mask-composite: source-in;
}

.album-list {
  --focus-highlight: 
    saturate(120%)
    brightness(90%)
    opacity(100%);
  --mute-colors:
    blur(10px)
    saturate(10%)
    brightness(45%)
    sepia(30%)
    opacity(85%);

  list-style: none;
  line-height: 1.2;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  margin: 1em auto;
  width: 95vw;
  max-width: 500px;
  container-type: inline-size;
}

.album-entry {
  font-size: 4.0cqw;
  width: 100%;
  aspect-ratio: 8 / 1.25;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 0;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--theme-color);
    border-radius: 5px;
    z-index: -1;
    @include edge-fade-mask(7px);
  }

  // needs media query
  &:hover,
  &:active,
  &:focus {
    &::before {
      @include edge-fade-mask(0px);
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    border-radius: 5px;
    backdrop-filter: var(--mute-colors);
    -webkit-backdrop-filter: var(--mute-colors);
    transition: transform 0.2s ease;
  }

  // needs media query
  &:hover,
  &:active,
  &:focus {
    &::after {
      backdrop-filter: var(--focus-highlight);
      -webkit-backdrop-filter: var(--focus-highlight);
      background-image: url("../assets/cassette-spine.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      transform: scale(1.05);
    }  
  }
}

.copy-artist, .copy-album {
  color: rgba(255, 255, 255, 0.94);
  font-weight: 600;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  height: auto;
  align-content: center;
  width: auto;
  padding-inline: 1.5em;
  z-index: 2;
  > * {
    display: block;
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
  }
}

.copy-artist{
  margin-top: 0.25em;
}
.copy-album {
  margin-bottom: 0.25em;
}