nav {
    --nav-transition-duration: 0.4s;
    height: var(--nav-height);
    width: 100%;
    overflow: hidden;
    z-index: 1;
    position: fixed;
    background-color: var(--contrast-bg);
    transition: height var(--nav-transition-duration) ease;
    touch-action: none;
    user-select: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 1px solid rgba(175, 175, 175, 0.065);
    box-shadow: var(--shadow);

    div,
    form {
        margin-inline: auto;
        width: 95vw;
        max-width: 500px;
    }
    &::before {
        content: "";
        position: absolute;
        bottom: 0.55em;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        height: 3px;
        background-color: currentColor;
        border-radius: 5px;
        overflow: visible;
        width: 3em;
        z-index: 15;;
    }

    &.open {
        --nav-height: 75vh;
    }
}

@media (prefers-color-scheme: light) {
    nav {
        border-bottom: 1px solid rgba(175, 175, 175, 0.75);
    }
}