nav {
    --nav-transition-duration: 0.4s;
    --nav-offset: 54vh;
    height: 75vh;
    width: 100%;
    overflow-y: auto;
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--contrast-bg);
    transform: translateY(var(--nav-offset));
    transition: transform var(--nav-transition-duration) ease;
    touch-action: none;
    user-select: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top: 1px solid rgb(255 255 255 / 5%);
    box-shadow: rgba(25, 19, 27, 0.5) 0 -6px 4px -4px, rgba(25, 19, 27, 0.25) 0 -8px 4px -4px;

    div,
    form {
        margin-inline: auto;
        width: 95vw;
        max-width: 500px;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0.55em;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        height: 3px;
        background-color: currentColor;
        border-radius: 5px;
        overflow: visible;
        width: 3em;
        z-index: 15;
    }

    .open-handle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: none;
        margin-inline: 0;
        height: 4.5vh;
        z-index: 14;
        cursor: pointer;
    }

    &.open {
        --nav-offset: 0;
    }
}

@media (prefers-color-scheme: light) {
    nav {
        border-top: 1px solid rgba(175, 175, 175, 0.75);
    }
}

@media (min-width: 768px) {
    nav {
        pointer-events: none;
        left: unset;
        right: 0;
        overflow: visible;
        --nav-transition-duration: 0;
        --nav-offset: 0;
        height: calc(90vh - 0.75em);
        width: 17vw;
        padding-right: 1vw;
        border: none;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        background-color: unset;
        font-size: 14px;
        &::before {
            content: unset;
        }
        .open-handle {
            display: none;
        }
    }
    #tier-filter,
    #genre-filter {
        margin-inline: 1em;
        width: auto;
        pointer-events: auto;
    }
}

@media (min-width: 828px) {
    nav {
        width: clamp(140.76px, calc(-213.677px + 42.8065vw), 300px);
    }
}